In [1]:
import os
import pandas as pd

# negatives

In [2]:
negative_filename = "/Users/quannguyen/computing/research/diverse_as/data/drug/raw/negatives.txt"

with open(negative_filename, "r") as f:
    negatives = f.readlines()
    negatives = [line.strip() for line in negatives]

len(negatives)

100000

In [3]:
df = pd.DataFrame({"smiles": negatives, "label": [0] * len(negatives)})
df

                                                  smiles  label
0                  o1c(nnc1NC(=O)CCCC)-c1oc2c(c1)cccc2OC      0
1      s1c(ccc1S(=O)(=O)N1c2c(cc(S(=O)(=O)N)cc2)C[C@@...      0
2      s1c2N=C(S[C@H](C(=O)NC3CCCCC3)C)N(C[C@H]3OCCC3...      0
3         o1nc(nc1CCC(=O)Nc1cc(ccc1)CC)-c1cc(OC)c(OC)cc1      0
4                          BrC=1C(OC(=NC=1OC)c1ccccc1)=O      0
...                                                  ...    ...
99995  Clc1cc(-n2ncc3c2N=C2SC[C@@H](N2C3=O)CC(=O)Nc2c...      0
99996  O(CC(=O)N)c1ccc(cc1OC)CNC(=O)N[C@@H](C(=O)N[C@...      0
99997            Clc1cc(ccc1S(=O)(=O)N(CC(=O)N)C)C(OC)=O      0
99998    S(=O)(=O)(NCCC#N)c1ccc(cc1)C(=O)Nc1ccccc1OC(F)F      0
99999            CC(C)(C)c1ccc2occ(CC(=O)Nc3ccccc3F)c2c1      0

[100000 rows x 2 columns]

# positives

In [4]:
keep = None

In [4]:
keep = [
 5,
 17,
 84,
 18,
 112,
 44,
 51,
 105,
 67,
 57,
 61,
 52,
 30,
 9,
 20,
 64,
 89,
 25,
 14,
 118,
 24,
 60,
 75,
 93,
 113,
 95,
 97,
 74,
 3,
 15,
 7,
 58,
 88,
 45,
 2,
 109,
 63,
 59,
 36,
 32,
 40,
 91,
 13,
 22,
 62,
 90,
 94,
 43,
 1,
 4,
 29,
 82,
 56,
 103,
 71,
 92,
 120,
 65,
 106,
 108,
 55,
 34,
 48,
 37,
 0
]

In [5]:
basepath = "/Users/quannguyen/Downloads/ACs"
num_classes = 120

for i in range(1, num_classes + 1):
    if keep is None or i in keep:
        with open(os.path.join(basepath, f"Target_{i}.smi"), "r") as f:
            positives = f.readlines()
            # positives = [line.strip() for line in positives]
            for j, line in enumerate(positives):
                if "\t" in line:
                    positives[j] = line[:line.index("\t")]

            intersection_with_negatives = set(positives).intersection(set(negatives))
            if len(intersection_with_negatives) > 0:
                print(i, intersection_with_negatives)

        df = pd.concat(
            [
                df, 
                pd.DataFrame({"smiles": positives, "label": [i] * len(positives)})
            ]
        )

In [6]:
df

                                                 smiles  label
0                 o1c(nnc1NC(=O)CCCC)-c1oc2c(c1)cccc2OC      0
1     s1c(ccc1S(=O)(=O)N1c2c(cc(S(=O)(=O)N)cc2)C[C@@...      0
2     s1c2N=C(S[C@H](C(=O)NC3CCCCC3)C)N(C[C@H]3OCCC3...      0
3        o1nc(nc1CCC(=O)Nc1cc(ccc1)CC)-c1cc(OC)c(OC)cc1      0
4                         BrC=1C(OC(=NC=1OC)c1ccccc1)=O      0
...                                                 ...    ...
1230             Clc1ccc(Nc2ncc3CC(=O)Nc4ccccc4c3n2)cc1    120
1231   [O-][N+](=O)c1ccc(Nc2ncc3CC(=O)Nc4ccccc4c3n2)cc1    120
1232              Cc1ccc(Nc2ncc3CC(=O)Nc4ccccc4c3n2)cc1    120
1233              Oc1ccc(Nc2ncc3CC(=O)Nc4ccccc4c3n2)cc1    120
1234  COc1cc(cc(OC)c1OC)C1=C(C(=O)NC1=O)c1c[nH]c2ccc...    120

[162350 rows x 2 columns]

In [7]:
pruned_df = df.drop_duplicates(subset="smiles", keep=False)
pruned_df

                                                 smiles  label
0                 o1c(nnc1NC(=O)CCCC)-c1oc2c(c1)cccc2OC      0
1     s1c(ccc1S(=O)(=O)N1c2c(cc(S(=O)(=O)N)cc2)C[C@@...      0
2     s1c2N=C(S[C@H](C(=O)NC3CCCCC3)C)N(C[C@H]3OCCC3...      0
3        o1nc(nc1CCC(=O)Nc1cc(ccc1)CC)-c1cc(OC)c(OC)cc1      0
4                         BrC=1C(OC(=NC=1OC)c1ccccc1)=O      0
...                                                 ...    ...
1229             COc1ccc(Nc2ncc3CC(=O)Nc4ccccc4c3n2)cc1    120
1230             Clc1ccc(Nc2ncc3CC(=O)Nc4ccccc4c3n2)cc1    120
1231   [O-][N+](=O)c1ccc(Nc2ncc3CC(=O)Nc4ccccc4c3n2)cc1    120
1232              Cc1ccc(Nc2ncc3CC(=O)Nc4ccccc4c3n2)cc1    120
1233              Oc1ccc(Nc2ncc3CC(=O)Nc4ccccc4c3n2)cc1    120

[131809 rows x 2 columns]

In [8]:
len(set(list(pruned_df.smiles)))

131809

In [11]:
before_label_counts.min()

219

In [9]:
before_label_counts = df.label.value_counts()
after_label_counts = pruned_df.label.value_counts()

cutoff = 0
keep = []

for i in reversed(list(after_label_counts.index)):
    print(f"label {i}: {before_label_counts.loc[i]} --> {after_label_counts.loc[i]} points")
    
    if after_label_counts.loc[i] >= cutoff:
        keep.append(i)

label 72: 298 --> 7 points
label 23: 360 --> 8 points
label 21: 697 --> 10 points
label 119: 276 --> 14 points
label 49: 206 --> 21 points
label 69: 459 --> 24 points
label 98: 457 --> 25 points
label 111: 345 --> 29 points
label 53: 248 --> 35 points
label 79: 300 --> 36 points
label 70: 886 --> 37 points
label 101: 228 --> 44 points
label 73: 336 --> 44 points
label 46: 395 --> 56 points
label 78: 318 --> 58 points
label 80: 332 --> 62 points
label 115: 232 --> 63 points
label 10: 222 --> 66 points
label 42: 545 --> 74 points
label 26: 289 --> 77 points
label 99: 524 --> 80 points
label 11: 261 --> 84 points
label 39: 812 --> 84 points
label 16: 233 --> 90 points
label 19: 241 --> 95 points
label 12: 206 --> 95 points
label 8: 432 --> 98 points
label 38: 242 --> 101 points
label 54: 275 --> 105 points
label 41: 1366 --> 111 points
label 87: 229 --> 112 points
label 77: 1084 --> 114 points
label 102: 604 --> 116 points
label 86: 925 --> 122 points
label 27: 343 --> 124 points
label 114: 268 --> 124 points
label 110: 207 --> 132 points
label 100: 728 --> 136 points
label 117: 206 --> 143 points
label 28: 278 --> 148 points
label 104: 284 --> 152 points
label 107: 246 --> 152 points
label 31: 470 --> 155 points
label 47: 521 --> 157 points
label 83: 215 --> 164 points
label 33: 428 --> 168 points
label 68: 897 --> 170 points
label 50: 290 --> 170 points
label 81: 289 --> 177 points
label 35: 917 --> 180 points
label 96: 201 --> 181 points
label 85: 442 --> 184 points
label 6: 917 --> 185 points
label 116: 224 --> 196 points
label 76: 226 --> 197 points
label 66: 913 --> 198 points
label 5: 219 --> 201 points
label 17: 259 --> 205 points
label 84: 260 --> 209 points
label 18: 235 --> 209 points
label 112: 579 --> 217 points
label 44: 230 --> 220 points
label 51: 252 --> 224 points
label 105: 1289 --> 227 points
label 67: 920 --> 231 points
label 57: 240 --> 233 points
label 61: 250 --> 234 points
label 52: 341 --> 238 points
label 30: 248 --> 242 points
label 9: 256 --> 242 points
label 20: 393 --> 248 points
label 64: 265 --> 253 points
label 89: 279 --> 260 points
label 25: 485 --> 263 points
label 14: 393 --> 264 points
label 118: 274 --> 265 points
label 24: 294 --> 284 points
label 60: 376 --> 285 points
label 75: 301 --> 290 points
label 93: 425 --> 290 points
label 113: 382 --> 295 points
label 95: 328 --> 296 points
label 97: 1061 --> 302 points
label 74: 318 --> 308 points
label 3: 507 --> 335 points
label 15: 458 --> 337 points
label 7: 1025 --> 337 points
label 58: 350 --> 340 points
label 88: 385 --> 343 points
label 45: 380 --> 350 points
label 2: 379 --> 350 points
label 109: 485 --> 351 points
label 63: 396 --> 362 points
label 59: 495 --> 365 points
label 36: 374 --> 369 points
label 32: 844 --> 370 points
label 40: 1032 --> 374 points
label 91: 423 --> 378 points
label 13: 571 --> 380 points
label 22: 1206 --> 382 points
label 62: 1425 --> 398 points
label 90: 442 --> 419 points
label 94: 514 --> 466 points
label 43: 780 --> 478 points
label 1: 554 --> 488 points
label 4: 1024 --> 501 points
label 29: 547 --> 514 points
label 82: 585 --> 552 points
label 56: 600 --> 582 points
label 103: 715 --> 602 points
label 71: 796 --> 675 points
label 92: 689 --> 676 points
label 120: 1235 --> 721 points
label 65: 878 --> 784 points
label 106: 971 --> 797 points
label 108: 1133 --> 814 points
label 55: 1023 --> 836 points
label 34: 885 --> 841 points
label 48: 1230 --> 854 points
label 37: 1489 --> 1263 points
label 0: 100000 --> 100000 points

In [16]:
keep

[5,
 17,
 84,
 18,
 112,
 44,
 51,
 105,
 67,
 57,
 61,
 52,
 30,
 9,
 20,
 64,
 89,
 25,
 14,
 118,
 24,
 60,
 75,
 93,
 113,
 95,
 97,
 74,
 3,
 15,
 7,
 58,
 88,
 45,
 2,
 109,
 63,
 59,
 36,
 32,
 40,
 91,
 13,
 22,
 62,
 90,
 94,
 43,
 1,
 4,
 29,
 82,
 56,
 103,
 71,
 92,
 120,
 65,
 106,
 108,
 55,
 34,
 48,
 37,
 0]

In [10]:
pruned_df.to_csv(
    f"/Users/quannguyen/computing/research/diverse_as/data/drug/raw/pruned_{cutoff}.txt", 
    index=False, 
    header=False
)

In [11]:
pruned_df.smiles.to_csv(
    f"/Users/quannguyen/computing/research/diverse_as/data/drug/raw/pruned_smiles_{cutoff}.txt", 
    index=False, 
    header=False
)

In [12]:
pruned_df.label.to_csv(
    f"/Users/quannguyen/computing/research/diverse_as/data/drug/raw/pruned_labels_{cutoff}.txt", 
    index=False, 
    header=False
)