In [1]:
import numpy as np
import pandas as pd

In [6]:
subset_data_ids = np.load(f'../../data/vast/model_50000_1/ids.npy')

microblogs = pd.read_pickle('../../data/vast/microblogs_dataset.pkl')
microblogs = microblogs.iloc[subset_data_ids, :]

microblogs

,post_id,user_id,post_date_time,location,text,latitude,longitude,porter_stems
1,1,3,5/10/2011 9:22,42.18881 93.35642,4 orang top scorer skrg 3 di antara nya pake ...,42.18881,93.35642,"[orang, top, scorer, skrg, di, antara, nya, pa..."
14,14,4,5/5/2011 7:22,42.24513 93.46506,These old people behind me thinkk that starbuc...,42.24513,93.46506,"[old, peopl, behind, thinkk, starbuck, greates..."
20,20,4,5/15/2011 7:22,42.23982 93.35323,Preciso urgentemente de Starbucks.,42.23982,93.35323,"[preciso, urgentement, de, starbuck]"
30,30,5,5/7/2011 17:20,42.22714 93.37599,I really want some chocolate cake.,42.22714,93.37599,"[realli, want, chocol, cake]"
47,47,12,5/12/2011 15:27,42.28287 93.237,LETTER; How Title Insurance Helps,42.28287,93.23700,"[letter, titl, insur, help]"
...,...,...,...,...,...,...,...,...
1023016,1023016,180456,5/6/2011 21:51,42.2239 93.35043,Sitting in a cafe + the guy beside me discusse...,42.22390,93.35043,"[sit, cafe, guy, besid, discuss, loudli, hair,..."
1023017,1023017,180456,5/15/2011 21:51,42.19737 93.43151,Event 106 is in the water,42.19737,93.43151,"[event, water]"
1023020,1023020,180456,5/12/2011 21:51,42.21358 93.39237,So You Loved My Mom Then Loved Mandy Then Lo...,42.21358,93.39237,"[love, mom, love, mandi, love, mom, love, heid..."
1023020,1023020,180456,5/12/2011 21:51,42.21358 93.39237,So You Loved My Mom Then Loved Mandy Then Lo...,42.21358,93.39237,"[love, mom, love, mandi, love, mom, love, heid..."
1023038,1023038,180460,5/17/2011 22:45,42.21063 93.33246,Myth #348: Low fat or no fat is healthy for yo...,42.21063,93.33246,"[myth, low, fat, fat, healthi, heart]"

In [4]:
keywords = [
    'sore', 'throat', 'fever', 'fatigu', 'cough', 'short', 'breath', 'chill',
    'sick', 'pain', 'diarrhea', 'stomach', 'sweat', 'pneumonia', 'flu', 'ach',
    'nausea', 'vomit',  'nauseou', 'declin', 'health', 'headach', 'nose', 'runni'
]

In [8]:
# [
#     'sore', 'fever', 'fatigu',
#     'sick', 'pain', 'sweat', 'ach',
#      declin', 'health', 'headach',
# ]

respiratory_kws = [
    "throat", "cough", "breadth", "pneumonia", "flu", "nose", "runni"
]

stomach_flu_kws = [
    "chill", "diarrhea", "stomach", "nausea", "vomit", "nauseou"
]

other_kws = [
    "sore", "fever", "fatigu", "sick", "pain", "sweat", "ach", "declin",
    "health", "headach"
]


def label_row(row):
    for word in row["porter_stems"]:
        if word in respiratory_kws:
            return 2
        elif word in stomach_flu_kws:
            return 3
        elif word in other_kws:
            return 4
    
    return 1


microblogs["label"] = microblogs.apply(lambda row: label_row(row), axis=1)
microblogs

,post_id,user_id,post_date_time,location,text,latitude,longitude,porter_stems,label
1,1,3,5/10/2011 9:22,42.18881 93.35642,4 orang top scorer skrg 3 di antara nya pake ...,42.18881,93.35642,"[orang, top, scorer, skrg, di, antara, nya, pa...",1
14,14,4,5/5/2011 7:22,42.24513 93.46506,These old people behind me thinkk that starbuc...,42.24513,93.46506,"[old, peopl, behind, thinkk, starbuck, greates...",1
20,20,4,5/15/2011 7:22,42.23982 93.35323,Preciso urgentemente de Starbucks.,42.23982,93.35323,"[preciso, urgentement, de, starbuck]",1
30,30,5,5/7/2011 17:20,42.22714 93.37599,I really want some chocolate cake.,42.22714,93.37599,"[realli, want, chocol, cake]",1
47,47,12,5/12/2011 15:27,42.28287 93.237,LETTER; How Title Insurance Helps,42.28287,93.23700,"[letter, titl, insur, help]",1
...,...,...,...,...,...,...,...,...,...
1023016,1023016,180456,5/6/2011 21:51,42.2239 93.35043,Sitting in a cafe + the guy beside me discusse...,42.22390,93.35043,"[sit, cafe, guy, besid, discuss, loudli, hair,...",1
1023017,1023017,180456,5/15/2011 21:51,42.19737 93.43151,Event 106 is in the water,42.19737,93.43151,"[event, water]",1
1023020,1023020,180456,5/12/2011 21:51,42.21358 93.39237,So You Loved My Mom Then Loved Mandy Then Lo...,42.21358,93.39237,"[love, mom, love, mandi, love, mom, love, heid...",1
1023020,1023020,180456,5/12/2011 21:51,42.21358 93.39237,So You Loved My Mom Then Loved Mandy Then Lo...,42.21358,93.39237,"[love, mom, love, mandi, love, mom, love, heid...",1
1023038,1023038,180460,5/17/2011 22:45,42.21063 93.33246,Myth #348: Low fat or no fat is healthy for yo...,42.21063,93.33246,"[myth, low, fat, fat, healthi, heart]",1

In [9]:
microblogs["label"].value_counts()

1    49410
4      332
3      129
2      129
Name: label, dtype: int64

In [12]:
np.save("labels.npy", microblogs["label"].values)